@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Source+Serif+4:opsz@8..60&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --copy-btn-margin: 10px;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply text-brand-dk dark:text-brand-lt;
}

body {
  @apply relative flex flex-col;
  @apply bg-brand-lt dark:bg-brand-dk bg-graphpaper;
}

main {
  @apply bg-brand-lt dark:bg-brand-dk bg-graphpaper;
  @apply flex flex-col flex-1 ;
}

header {
  @apply border-b;
  @apply transition-all duration-100 ease-in-out;
  @apply bg-brand-lt/75 dark:bg-brand-dk/50;
  @apply border-brand-dk/10 dark:border-brand-lt/25;
  @apply backdrop-blur-sm ;
}



article {
  @apply prose dark:prose-invert max-w-full pb-12;
}

.page-heading {
  @apply font-semibold text-black dark:text-white;
}

.blend {
  @apply transition-all duration-100 ease-in-out;
}

.bg-graphpaper {
  background-size: 2rem 2rem;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.15) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-attachment: local;
}

.dark .bg-graphpaper {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 1px,
    rgba(255, 255, 255, 0) 1px
  );
  
}

.button {
  @apply bg-brand-lt dark:bg-brand-dk hover:bg-brand-dk-hover hover:dark:bg-brand-lt-hover;
  @apply border rounded border-black/15 dark:border-white/20 px-1.5;
}

.button-invert {
  @apply bg-brand-dk dark:bg-brand-lt hover:bg-brand-lt-hover hover:dark:bg-brand-dk-hover;
  @apply border rounded border-black/15 dark:border-white/20 px-1.5;
}


/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

article img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

.copy-cnt {
  @apply absolute w-full;
  top: var(--copy-btn-margin);
}
.copy-btn {
  @apply w-[30px] fixed;
  left: calc(100% - var(--copy-btn-margin));
  transform: translateX(-100%);
}

.copy-svg {
  @apply w-full aspect-square text-white opacity-70 hover:opacity-90;
}

mark {
  @apply bg-yellow-200 dark:bg-blue-200 rounded;
}
