---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-1">First post</a></li>
    <li><a href="/posts/post-2">Second post</a></li>
    <li><a href="/posts/post-3">Third post</a></li>
  </ul>
</BaseLayout>
