---
import { cn } from "@lib/utils";
---

<div class="">
  <svg id="dino" viewBox="-10 -10 120 80">
    <g>
      <path
        id="sail"
        fill="#b9665f"
        stroke="#000000"
        stroke-width="0.5"
        d="M5.3594 49.6999C6.4336 44.8659 5.8438 41.7695 8.6716 39.6738C10.686 38.181 13.8729 40.4497 16.1912 39.4948C19.0016 38.3372 19.8399 33.8484 22.8155 33.2285C25.3937 32.6914 27.6126 35.8639 30.2456 35.914C33.8781 35.9831 37.0056 32.3454 40.6297 32.6019C43.5718 32.8101 45.6562 36.2239 48.5969 36.4512C51.8626 36.7035 54.7515 33.1405 57.9964 33.5866C61.8915 34.1221 64.0426 39.3728 67.9329 39.9424C70.7272 40.3515 73.276 37.2719 76.0791 37.6149C79.4957 38.033 81.6367 42.1905 85.031 42.7622C87.2879 43.1424 89.513 41.1365 91.7761 41.4782C93.1199 41.6812 95.3776 43.3893 95.3776 43.3893C75.2491 50.3671 56.6587 45.1324 40.1874 44.8125C23.7161 44.4925 16.2088 46.764 5.3594 49.6999Z"
      >
      </path>
      <path
        id="body"
        fill="#e79792"
        stroke="#000000"
        stroke-width="0.5"
        d="M25.5011 66.5294C25.7697 58.7413 19.7719 52.5645 11.1781 57.3985C2.5843 62.2325 1.0625 59.9946 0.2568 58.1147C-0.5488 56.2348 0.2018 52.3214 7.494 47.5769C13.3071 43.7949 23.7535 41.5136 32.1144 41.7085C41.4325 41.9256 54.365 43.831 61.4876 45.1345C75.4438 47.6886 88.2513 45.3181 96.526 42.9875C92.2348 45.8999 83.6425 51.4859 65.7595 53.8019C52.9066 55.4664 56.0144 63.2074 55.7315 67.3566L50.4447 67.5686C49.3188 63.0079 48.9549 60.0846 40.2778 59.2967C31.6008 58.5087 31.6402 62.4631 31.3198 66.977Z"
      >
      </path>
    </g>
  </svg>
  <button id="stego" class="button"> Stegosaurus</button>
  <button id="diplo" class="button"> Diplodocus </button>
  <button id="raptor" class="button"> Velociraptor </button>
</div>
<script>
  import anime from "animejs";

  const common = {
    easing: "easeOutElastic(1,0.7)",
    duration: 800,
    loop: false,
  };

  function stego() {
    anime({
      ...common,
      targets: "#body",
      d: "M25.5011 66.5294C25.7697 58.7413 19.7719 52.5645 11.1781 57.3985C2.5843 62.2325 1.0625 59.9946 0.2568 58.1147C-0.5488 56.2348 0.2018 52.3214 7.494 47.5769C13.3071 43.7949 23.7535 41.5136 32.1144 41.7085C41.4325 41.9256 54.365 43.831 61.4876 45.1345C75.4438 47.6886 88.2513 45.3181 96.526 42.9875C92.2348 45.8999 83.6425 51.4859 65.7595 53.8019C52.9066 55.4664 56.0144 63.2074 55.7315 67.3566L50.4447 67.5686C49.3188 63.0079 48.9549 60.0846 40.2778 59.2967C31.6008 58.5087 31.6402 62.4631 31.3198 66.977Z",
      fill: "#e79792",
    });
    anime({
      ...common,
      targets: "#sail",
      d: "M5.3594 49.6999C6.4336 44.8659 5.8438 41.7695 8.6716 39.6738C10.686 38.181 13.8729 40.4497 16.1912 39.4948C19.0016 38.3372 19.8399 33.8484 22.8155 33.2285C25.3937 32.6914 27.6126 35.8639 30.2456 35.914C33.8781 35.9831 37.0056 32.3454 40.6297 32.6019C43.5718 32.8101 45.6562 36.2239 48.5969 36.4512C51.8626 36.7035 54.7515 33.1405 57.9964 33.5866C61.8915 34.1221 64.0426 39.3728 67.9329 39.9424C70.7272 40.3515 73.276 37.2719 76.0791 37.6149C79.4957 38.033 81.6367 42.1905 85.031 42.7622C87.2879 43.1424 89.513 41.1365 91.7761 41.4782C93.1199 41.6812 95.3776 43.3893 95.3776 43.3893C75.2491 50.3671 56.6587 45.1324 40.1874 44.8125C23.7161 44.4925 16.2088 46.764 5.3594 49.6999Z",
      fill: "#b9665f",
    });
  }
  function diplo() {
    anime({
      ...common,
      targets: "#body",
      d: "M25.2799 67.302C31.6151 47.5072 21.4403 10.4709 16.4084 13.3169C11.3765 16.1629 7.2279 10.2701 9.5306 7.7415C11.0758 6.0446 14.0483 4.2011 18.2141 6.1133C22.3799 8.0255 29.3575 28.0749 30.8805 32.6511C32.4245 37.2905 34.1401 44.8949 41.7703 45.2741C49.4004 45.6532 67.7744 30.0127 80.8599 32.2397C69.2259 35.0254 60.8169 41.0376 55.1572 50.1435C50.7938 57.1637 53.5452 63.6379 55.5103 68.1292L50.2235 68.3412C48.3533 63.5735 48.4805 59.3381 39.8035 58.5501C31.1264 57.7621 31.6826 63.5718 31.0986 67.7496Z",
      fill: "#d4c775",
    });
    anime({
      ...common,
      targets: "#sail",
      d: "M12.7859 6.3631C14.8449 2.3347 16.9819 1.0541 19.7522 1.5717C22.0001 1.9917 21.8684 5.7674 23.6195 7.2379C25.6177 8.9159 29.4876 8.1832 30.7503 10.4665C32.3108 13.2883 28.6929 16.9161 29.4451 20.0517C30.1044 22.8002 33.2725 24.378 34.2761 27.0202C35.3876 29.9463 33.0561 34.2673 35.3987 36.3432C37.7078 38.3893 41.5985 35.9113 44.6544 36.3361C47.0547 36.6697 49.2766 38.8259 51.6475 38.3243C54.5932 37.7011 55.7484 33.5395 58.591 32.547C60.9552 31.7215 63.6361 33.1516 66.1014 32.7131C68.647 32.2604 70.7359 29.8526 73.3213 29.8783C75.4381 29.8994 79.1853 32.3166 79.1853 32.3166C64.2502 36.2336 43.8772 55.3129 35.8031 45.3847C25.7594 33.0348 19.5225 8.3981 12.7859 6.3631Z",
      fill: "#85aa53",
    });
  }
  function raptor() {
    anime({
      ...common,
      targets: "#body",
      d: "M36.4719 59.7919C38.9246 55.1746 40.4681 52.6008 33.5024 51.5603C28.4349 50.8033 28.4735 52.2589 25.5094 50.8732C23.6521 50.0049 25.6325 47.5236 30.0091 46.3907C34.8061 45.149 39.9224 50.6439 44.2504 51.0382C51.9872 51.7432 55.5498 51.8123 60.1062 50.9107C67.3388 49.4797 70.6588 47.651 79.4323 46.8347C74.8998 48.6112 73.6636 48.6711 64.6964 52.4331C58.486 55.0385 54.9881 61.4642 54.0889 68.3135L51.4732 68.3034C49.1031 63.1349 47.1431 64.2026 44.1459 58.4203C41.1487 52.6379 39.954 57.1627 37.514 60.3261Z",
      fill: "#8ec0b2",
    });
    anime({
      ...common,
      targets: "#sail",
      d: "M29 46.2C30.4134 44.1156 34.1246 42.7184 33.7906 44.3328C33.4566 45.9472 34.2128 46.782 35.9548 46.8713C37.6967 46.9606 41.034 44.8775 40.68 46.8057C40.3259 48.7338 40.9126 49.1953 42.3042 49.3525C43.6958 49.5096 48.0235 46.0247 47.799 47.8945C47.5745 49.7642 48.0491 50.0409 50.3603 50.0921C52.6715 50.1433 56.0767 46.0166 55.8769 48.1993C55.6772 50.382 56.9006 50.0821 58.8684 49.7015C60.8362 49.3208 64.7025 45.1714 64.7906 47.1119C64.8788 49.0524 65.9076 48.7941 67.7548 48.0805C69.602 47.3668 71.3501 45.1277 71.5342 46.3645C71.7182 47.6012 74.4091 47.2894 74.4091 47.2894C65.9563 51.6963 57.9236 53.7782 50.2871 53.5412C42.8198 53.3094 35.7315 50.8604 29 46.2Z",
      fill: "#5c9c8a",
    });
  }

  function initializeButtons() {
    const stegoButton = document.getElementById("stego");
    stegoButton?.addEventListener("click", stego);
    const diploButton = document.getElementById("diplo");
    diploButton?.addEventListener("click", diplo);
    const raptorButton = document.getElementById("raptor");
    raptorButton?.addEventListener("click", raptor);
  }
  initializeButtons();
</script>
