---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <h1>Thomas <span class="last-name">Van Riel</span></h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
