---

---

<img class="my-0 py-0" />
<style>
  @font-face {
    font-family: "xkcd Script";
    src: url("/fonts/xkcd-script.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
<svg viewBox="-0.5 -0.5 641 671">
  <g>
    <g data-cell-id="0">
      <g data-cell-id="1">
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-1">
          <g>
            <path
              d="M 246.4 160 L 246.4 159.63 L 256.15 160.23 L 265.89 159.58 L 275.64 160.17 L 285.38 159.73 L 295.13 160.47 L 304.87 160.03 L 314.62 159.85 L 324.36 159.66 L 334.11 159.98 L 343.85 159.92 L 353.6 160 Q 360 160 360 166.4 L 359.99 166.4 L 359.9 171.84 L 359.99 177.28 L 360.16 182.72 L 359.91 188.16 L 360 193.6 Q 360 200 353.6 200 L 353.6 199.54 L 343.85 199.59 L 334.11 199.91 L 324.36 200.2 L 314.62 199.53 L 304.87 199.83 L 295.13 200.16 L 285.38 200.26 L 275.64 199.76 L 265.89 200.05 L 256.15 199.79 L 246.4 200 Q 240 200 240 193.6 L 239.84 193.6 L 240.14 188.16 L 239.96 182.72 L 240.13 177.28 L 240.11 171.84 L 240 166.4 Q 240 160 246.4 160 L 246.4 160 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 246 160 L 246 160 L 245.94 168 L 245.97 176 L 245.9 184 L 245.9 192 L 246 200 M 354 160 L 354.07 160 L 353.84 168 L 353.93 176 L 353.89 184 L 354.11 192 L 354 200"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 180px; margin-left: 300px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: center;  "
                    >
                      <div
                        style='display: inline-block; font-size: 20px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div style="line-height: 80%;">
                          <div>Stoven</div>
                          <div>
                            <font style="font-size: 10px; line-height: 80%;"
                              >( in boter )</font
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-3">
          <g>
            <path
              d="M 246.4 500 L 246.4 499.53 L 256.15 500.04 L 265.89 500.06 L 275.64 500.5 L 285.38 499.82 L 295.13 499.85 L 304.87 499.62 L 314.62 499.52 L 324.36 500.03 L 334.11 499.92 L 343.85 500.5 L 353.6 500 Q 360 500 360 506.4 L 359.92 506.4 L 359.84 511.84 L 359.89 517.28 L 360.05 522.72 L 359.86 528.16 L 360 533.6 Q 360 540 353.6 540 L 353.6 539.89 L 343.85 539.69 L 334.11 540.34 L 324.36 540.24 L 314.62 539.57 L 304.87 540.05 L 295.13 540.37 L 285.38 539.64 L 275.64 540.03 L 265.89 539.69 L 256.15 539.61 L 246.4 540 Q 240 540 240 533.6 L 239.88 533.6 L 239.97 528.16 L 239.97 522.72 L 240.13 517.28 L 239.87 511.84 L 240 506.4 Q 240 500 246.4 500 L 246.4 500 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 246 500 L 245.92 500 L 245.9 508 L 246.07 516 L 245.95 524 L 245.9 532 L 246 540 M 354 500 L 354.16 500 L 354.01 508 L 353.97 516 L 354.15 524 L 354.07 532 L 354 540"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 520px; margin-left: 300px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: center;  "
                    >
                      <div
                        style='display: inline-block; font-size: 20px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div style="line-height: 80%;">
                          <div>
                            <div>Sudderen</div>
                            <div>
                              <font style="font-size: 10px; line-height: 80%;"
                                >( op zacht vuur )</font
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="300"
                  y="526"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="20px"
                  text-anchor="middle">Sudderen...</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-5">
          <g>
            <path
              d="M 300 200 L 300.04 200 L 300.01 210.06 L 299.9 220.13 L 300.32 230.19 L 300.2 240.26 L 299.59 250.32 L 300.21 260.39 L 300.34 270.45 L 300.35 280.52 L 300.25 290.58 L 300.07 300.65 L 300.36 310.71 L 300.32 320.78 L 300.44 330.84 L 299.68 340.91 L 299.5 350.97 L 299.76 361.04 L 300.2 371.1 L 300.29 381.17 L 299.85 391.23 L 300.16 401.3 L 300.25 411.36 L 299.97 421.43 L 299.94 431.49 L 300.42 441.56 L 299.91 451.62 L 299.92 461.69 L 300.28 471.75 L 299.65 481.82 L 300 491.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300 498.88 L 300.05 498.9 L 299.53 497.48 L 299.07 496.08 L 298.72 494.72 L 298.08 493.26 L 297.67 491.88 L 297.67 491.73 L 298.6 491.9 L 299.53 491.88 L 300.47 491.86 L 301.4 491.91 L 302.33 491.88 L 302.33 491.88 L 301.77 493.25 L 301.46 494.7 L 300.97 496.09 L 300.62 497.53 L 300 498.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-6">
          <g>
            <path
              d="M 446.4 160 L 446.4 160.06 L 456.15 160.05 L 465.89 160.02 L 475.64 160.39 L 485.38 159.71 L 495.13 160.09 L 504.87 160.24 L 514.62 159.84 L 524.36 159.6 L 534.11 160.28 L 543.85 159.57 L 553.6 160 Q 560 160 560 166.4 L 560.13 166.4 L 560.12 171.84 L 560 177.28 L 559.84 182.72 L 559.87 188.16 L 560 193.6 Q 560 200 553.6 200 L 553.6 200.32 L 543.85 200.1 L 534.11 199.71 L 524.36 199.99 L 514.62 200.38 L 504.87 200.39 L 495.13 199.58 L 485.38 199.81 L 475.64 199.88 L 465.89 200.38 L 456.15 199.81 L 446.4 200 Q 440 200 440 193.6 L 439.92 193.6 L 439.97 188.16 L 439.96 182.72 L 439.92 177.28 L 440.02 171.84 L 440 166.4 Q 440 160 446.4 160 L 446.4 160 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 446 160 L 446.02 160 L 446 168 L 445.89 176 L 445.99 184 L 446.03 192 L 446 200 M 554 160 L 553.87 160 L 554.05 168 L 554.16 176 L 554.04 184 L 553.91 192 L 554 200"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 180px; margin-left: 500px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: center;  "
                    >
                      <div
                        style='display: inline-block; font-size: 20px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div style="line-height: 80%;">
                          <div>Bakken</div>
                          <div>
                            <font style="font-size: 10px; line-height: 80%;"
                              >( in boter )</font
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="500"
                  y="186"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="20px"
                  text-anchor="middle">Bakken...</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-7">
          <g>
            <path
              d="M 305.74 274.26 L 305.77 274.29 L 311.17 268.82 L 316.64 263.41 L 321.94 257.84 L 327.54 252.56 L 332.93 247.07 Q 340 240 350 240 L 350 239.71 L 360 239.6 L 370 240.09 L 380 240.26 L 390 239.99 L 400 239.77 L 410 239.89 L 420 240 Q 430 240 437.07 232.93 L 437.07 232.93 L 443.34 226.03 L 450.54 220.06 L 456.53 212.87 L 463.61 206.78 L 470 200"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300.79 279.21 L 300.82 279.23 L 301.36 277.84 L 302.08 276.55 L 302.77 275.25 L 303.38 273.9 L 304.09 272.61 L 304.05 272.57 L 304.71 273.23 L 305.45 273.96 L 305.97 274.49 L 306.67 275.19 L 307.39 275.91 L 307.32 275.78 L 306.02 276.47 L 304.72 277.17 L 303.41 277.85 L 302.15 278.63 L 300.79 279.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g data-cell-id="saPDqxz1WeLiPqNqaQB7-8">
            <g>
              <g
                fill="currentcolor"
                style="fill: currentcolor;"
                font-family='"xkcd Script"'
                text-anchor="middle"
                font-size="15px"
              >
                <text x="430.43" y="214.9">
                  <tspan>Vlees</tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-9">
          <g>
            <path
              d="M 446.4 280 L 446.4 279.99 L 456.15 280 L 465.89 280 L 475.64 279.87 L 485.38 279.75 L 495.13 280.06 L 504.87 280.44 L 514.62 280.11 L 524.36 280.23 L 534.11 279.98 L 543.85 280.3 L 553.6 280 Q 560 280 560 286.4 L 559.98 286.4 L 559.96 291.84 L 559.97 297.28 L 560.07 302.72 L 559.87 308.16 L 560 313.6 Q 560 320 553.6 320 L 553.6 319.52 L 543.85 320.29 L 534.11 319.6 L 524.36 320.39 L 514.62 320.15 L 504.87 320.01 L 495.13 319.95 L 485.38 320.49 L 475.64 319.66 L 465.89 320.16 L 456.15 320.1 L 446.4 320 Q 440 320 440 313.6 L 440.15 313.6 L 440 308.16 L 440.06 302.72 L 440.08 297.28 L 440.01 291.84 L 440 286.4 Q 440 280 446.4 280 L 446.4 280 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 446 280 L 445.91 280 L 445.99 288 L 445.92 296 L 446.08 304 L 445.94 312 L 446 320 M 554 280 L 553.87 280 L 553.91 288 L 554.09 296 L 554.01 304 L 553.98 312 L 554 320"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="middle"
              font-size="20px"
            >
              <text x="500" y="309">
                <tspan>Koken</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-10">
          <g>
            <path
              d="M 500 271.88 L 500.29 271.88 L 500.46 261.61 L 500.38 251.34 L 500.06 241.08 L 499.66 230.81 L 499.85 220.54 L 499.96 210.27 L 500 200"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 500 278.88 L 499.95 278.87 L 499.66 277.53 L 499.21 276.13 L 498.61 274.68 L 498.14 273.28 L 497.67 271.88 L 497.67 271.77 L 498.6 271.93 L 499.53 271.94 L 500.47 271.95 L 501.4 271.85 L 502.33 271.88 L 502.39 271.9 L 501.91 273.3 L 501.52 274.72 L 501.03 276.11 L 500.47 277.48 L 500 278.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g data-cell-id="saPDqxz1WeLiPqNqaQB7-11">
            <g>
              <g
                fill="currentcolor"
                style="fill: currentcolor;"
                font-family='"xkcd Script"'
                text-anchor="middle"
                font-size="15px"
              >
                <text x="520.4" y="214.9">
                  <tspan>Rest</tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-26">
          <g>
            <path
              d="M 246.4 100 L 246.4 99.91 L 256.15 99.76 L 265.89 99.65 L 275.64 99.56 L 285.38 100.37 L 295.13 99.64 L 304.87 100.47 L 314.62 100.25 L 324.36 100.33 L 334.11 99.6 L 343.85 99.7 L 353.6 100 Q 360 100 360 106.4 L 359.96 106.4 L 359.85 111.84 L 360.08 117.28 L 359.84 122.72 L 360.03 128.16 L 360 133.6 Q 360 140 353.6 140 L 353.6 139.97 L 343.85 139.86 L 334.11 139.98 L 324.36 140.28 L 314.62 140.05 L 304.87 140.43 L 295.13 139.85 L 285.38 139.79 L 275.64 140.31 L 265.89 140.11 L 256.15 140.21 L 246.4 140 Q 240 140 240 133.6 L 239.9 133.6 L 239.89 128.16 L 239.99 122.72 L 240.14 117.28 L 239.9 111.84 L 240 106.4 Q 240 100 246.4 100 L 246.4 100 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 246 100 L 245.99 100 L 246.09 108 L 245.91 116 L 245.91 124 L 246.14 132 L 246 140 M 354 100 L 353.91 100 L 353.93 108 L 354.05 116 L 354.16 124 L 353.96 132 L 354 140"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 120px; margin-left: 300px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: center;  "
                    >
                      <div
                        style='display: inline-block; font-size: 20px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div>Snipperen</div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="300"
                  y="126"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="20px"
                  text-anchor="middle">Snipperen</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-28">
          <g>
            <path
              d="M 300 140 L 300.09 140 L 300 142.38 L 299.94 144.75 L 299.94 147.13 L 300.09 149.51 L 300 151.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300 158.88 L 300.09 158.91 L 299.5 157.47 L 299.02 156.07 L 298.63 154.69 L 298.06 153.26 L 297.67 151.88 L 297.67 151.75 L 298.6 151.86 L 299.53 151.75 L 300.47 151.75 L 301.4 151.79 L 302.33 151.88 L 302.38 151.9 L 301.89 153.29 L 301.5 154.72 L 300.99 156.1 L 300.56 157.51 L 300 158.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-30">
          <g>
            <path
              d="M 170 50 L 170 49.9 L 180 49.99 L 190 50.4 L 200 50.08 L 210 49.56 L 220 50.36 L 230 49.89 L 240 50.02 L 250 50 L 249.94 50 L 249.92 54 L 249.97 58 L 250.12 62 L 249.9 66 L 250 70 L 250 69.67 L 240 69.96 L 230 69.76 L 220 69.58 L 210 69.65 L 200 70.41 L 190 70.17 L 180 69.92 L 170 70 L 170.14 70 L 170.04 66 L 169.93 62 L 170.09 58 L 169.87 54 L 170 50 L 170 50 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="248" y="66.5">
                <tspan>Ui</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-32">
          <g>
            <path
              d="M 170 320 L 170 320.13 L 180 319.67 L 190 319.57 L 200 319.84 L 210 320.28 L 220 319.67 L 230 320.39 L 240 319.92 L 250 320 L 250.1 320 L 249.94 324 L 250.04 328 L 250.02 332 L 250.16 336 L 250 340 L 250 340.36 L 240 340.08 L 230 340.29 L 220 340.46 L 210 340.01 L 200 340.01 L 190 339.88 L 180 340.03 L 170 340 L 169.93 340 L 169.86 336 L 169.92 332 L 170 328 L 170.01 324 L 170 320 L 170 320 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="248" y="336.5">
                <tspan>Laurier</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-33">
          <g>
            <path
              d="M 260 330 L 260 329.91 L 262 329.98 L 264 330.06 L 266 330.08 L 268 330.08 L 270 330 Q 280 330 287.07 337.07 L 286.98 336.98 L 288.41 338.41 L 289.86 339.86 L 291.31 341.31 L 292.9 342.9 L 294.26 344.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 299.21 349.21 L 299.2 349.18 L 297.84 348.46 L 296.52 347.79 L 295.31 347.36 L 293.9 346.51 L 292.61 345.91 L 292.52 345.82 L 293.35 345.33 L 293.94 344.6 L 294.69 344.03 L 295.2 343.22 L 295.91 342.61 L 296.06 342.68 L 296.43 343.86 L 297.32 345.3 L 297.8 346.53 L 298.51 347.87 L 299.21 349.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-34">
          <g>
            <path
              d="M 260 60 L 260 60.04 L 262 60.17 L 264 59.89 L 266 60.13 L 268 60.11 L 270 60 Q 280 60 287.07 67.07 L 287.03 67.03 L 288.4 68.4 L 289.75 69.75 L 290.96 70.96 L 292.26 72.26 L 293.54 73.54 Q 300 80 300 85.94 L 300.03 85.94 L 300.05 87.13 L 299.98 88.32 L 300.02 89.51 L 300.07 90.69 L 300 91.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300 98.88 L 300.06 98.9 L 299.44 97.45 L 299.04 96.07 L 298.74 94.73 L 298.17 93.29 L 297.67 91.88 L 297.67 91.85 L 298.6 91.78 L 299.53 91.76 L 300.47 91.88 L 301.4 91.74 L 302.33 91.88 L 302.33 91.88 L 301.77 93.25 L 301.3 94.65 L 300.8 96.04 L 300.49 97.49 L 300 98.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-35">
          <g>
            <path
              d="M 260 360 L 260 360.13 L 262 360.12 L 264 360.14 L 266 359.92 L 268 359.99 L 270 360 Q 280 360 287.07 367.07 L 287.04 367.04 L 288.49 368.49 L 289.9 369.9 L 291.42 371.42 L 292.85 372.85 L 294.26 374.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 299.21 379.21 L 299.25 379.29 L 297.87 378.51 L 296.56 377.87 L 295.29 377.3 L 293.91 376.54 L 292.61 375.91 L 292.53 375.83 L 293.32 375.3 L 294.02 374.68 L 294.69 374.03 L 295.22 373.24 L 295.91 372.61 L 295.83 372.57 L 296.69 373.99 L 297.38 375.32 L 297.9 376.58 L 298.59 377.91 L 299.21 379.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-36">
          <g>
            <path
              d="M 170 350 L 170 349.99 L 180 349.64 L 190 349.51 L 200 349.76 L 210 349.84 L 220 349.63 L 230 350.27 L 240 349.71 L 250 350 L 250.08 350 L 250.07 354 L 249.97 358 L 249.98 362 L 249.97 366 L 250 370 L 250 370.14 L 240 370.28 L 230 370.25 L 220 369.74 L 210 370.25 L 200 370.07 L 190 369.79 L 180 370.37 L 170 370 L 170.11 370 L 170.02 366 L 170.01 362 L 170.13 358 L 170.01 354 L 170 350 L 170 350 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="248" y="366.5">
                <tspan>Tijm</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-37">
          <g>
            <path
              d="M 440 300 L 440 299.98 L 430 299.52 L 420 299.64 L 410 299.9 L 400 299.88 L 390 300.14 L 380 300.11 L 370 300.34 L 360 299.99 L 350 300.35 L 340 299.6 L 330 300 Q 320 300 312.93 307.07 L 312.97 307.11 L 311.47 308.49 L 310.08 309.97 L 308.72 311.48 L 307.21 312.85 L 305.74 314.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300.79 319.21 L 300.92 319.27 L 301.54 317.93 L 302.15 316.59 L 302.68 315.21 L 303.37 313.9 L 304.09 312.61 L 304.17 312.69 L 304.75 313.27 L 305.44 313.96 L 306.02 314.54 L 306.84 315.36 L 307.39 315.91 L 307.44 316.02 L 306.07 316.58 L 304.69 317.11 L 303.5 318.02 L 302.11 318.55 L 300.79 319.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-38">
          <g>
            <path
              d="M 540 240 L 540 240.16 L 538 239.89 L 536 240.17 L 534 239.83 L 532 239.97 L 530 240 Q 520 240 512.93 247.07 L 512.96 247.11 L 511.38 248.4 L 509.95 249.84 L 508.54 251.31 L 507.25 252.89 L 505.74 254.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 500.79 259.21 L 500.87 259.25 L 501.57 257.95 L 502.13 256.58 L 502.72 255.23 L 503.43 253.93 L 504.09 252.61 L 504.14 252.66 L 504.79 253.31 L 505.46 253.98 L 506.14 254.66 L 506.73 255.25 L 507.39 255.91 L 507.39 255.91 L 506.04 256.52 L 504.74 257.2 L 503.36 257.75 L 502.17 258.67 L 500.79 259.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-39">
          <g>
            <path
              d="M 550 230 L 550 229.73 L 560 230.23 L 570 230.1 L 580 229.89 L 590 230.34 L 600 229.95 L 610 230.01 L 620 230.49 L 630 230 L 629.91 230 L 629.95 234 L 630.15 238 L 629.85 242 L 630.01 246 L 630 250 L 630 249.68 L 620 249.58 L 610 250.4 L 600 249.54 L 590 250.22 L 580 250.49 L 570 250.23 L 560 249.92 L 550 250 L 550.15 250 L 550.1 246 L 549.89 242 L 550.04 238 L 550.04 234 L 550 230 L 550 230 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 240px; margin-left: 552px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: left;  "
                    >
                      <div
                        style='display: inline-block; font-size: 15px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div >Bier</div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="552"
                  y="245"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="15px">Bier</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-42">
          <g>
            <path
              d="M 540 120 L 540 120.13 L 538 119.94 L 536 119.89 L 534 120.05 L 532 119.98 L 530 120 Q 520 120 512.93 127.07 L 513.02 127.16 L 511.62 128.35 L 510.32 129.63 L 509.07 130.97 L 507.76 132.24 L 506.46 133.54 Q 500 140 500 145.94 L 499.85 145.94 L 500.03 147.13 L 499.97 148.32 L 500.1 149.51 L 500.05 150.69 L 500 151.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 500 158.88 L 500.15 158.93 L 499.59 157.5 L 498.92 156.03 L 498.61 154.69 L 498.02 153.24 L 497.67 151.88 L 497.67 151.95 L 498.6 151.91 L 499.53 152.01 L 500.47 151.77 L 501.4 151.95 L 502.33 151.88 L 502.43 151.91 L 501.85 153.28 L 501.38 154.67 L 500.81 156.04 L 500.46 157.48 L 500 158.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-43">
          <g>
            <path
              d="M 550 110 L 550 109.99 L 560 109.72 L 570 110.44 L 580 110.11 L 590 110.02 L 600 109.6 L 610 110.39 L 620 110.19 L 630 110 L 630.12 110 L 629.85 114 L 629.85 118 L 630.03 122 L 629.96 126 L 630 130 L 630 130.08 L 620 129.59 L 610 130.36 L 600 130.17 L 590 130.39 L 580 129.93 L 570 130.18 L 560 129.85 L 550 130 L 549.95 130 L 550.1 126 L 549.87 122 L 549.97 118 L 550.11 114 L 550 110 L 550 110 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              font-size="15px"
            >
              <text x="552" y="126.5">
                <tspan>Vlees</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-44">
          <g>
            <path
              d="M 170 380 L 170 379.82 L 180 380.39 L 190 380.07 L 200 379.63 L 210 380.01 L 220 379.91 L 230 379.7 L 240 380.35 L 250 380 L 249.94 380 L 249.83 384 L 249.99 388 L 250.09 392 L 250.14 396 L 250 400 L 250 400.39 L 240 400.32 L 230 400.4 L 220 399.56 L 210 400.43 L 200 399.52 L 190 399.98 L 180 400.41 L 170 400 L 170.09 400 L 170.06 396 L 169.93 392 L 170.1 388 L 170.14 384 L 170 380 L 170 380 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="248" y="396.5">
                <tspan>Kruidnagel</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-45">
          <g>
            <path
              d="M 260 390 L 260 390.1 L 262 389.88 L 264 390.13 L 266 390.04 L 268 390.01 L 270 390 Q 280 390 287.07 397.07 L 287.13 397.13 L 288.59 398.59 L 289.85 399.85 L 291.41 401.41 L 292.9 402.9 L 294.26 404.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 299.21 409.21 L 299.14 409.06 L 297.88 408.54 L 296.55 407.86 L 295.2 407.13 L 293.88 406.46 L 292.61 405.91 L 292.5 405.8 L 293.2 405.18 L 293.96 404.62 L 294.68 404.02 L 295.24 403.26 L 295.91 402.61 L 296.05 402.68 L 296.65 403.97 L 297.36 405.31 L 297.85 406.55 L 298.66 407.94 L 299.21 409.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-46">
          <g>
            <path
              d="M 260 420 L 260 419.85 L 262 419.93 L 264 420.02 L 266 420.06 L 268 419.85 L 270 420 Q 280 420 287.07 427.07 L 287.1 427.1 L 288.57 428.57 L 289.85 429.85 L 291.29 431.29 L 292.76 432.76 L 294.26 434.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 299.21 439.21 L 299.24 439.26 L 297.89 438.56 L 296.57 437.89 L 295.32 437.36 L 293.88 436.48 L 292.61 435.91 L 292.66 435.96 L 293.26 435.24 L 293.88 434.54 L 294.56 433.9 L 295.21 433.23 L 295.91 432.61 L 295.77 432.54 L 296.53 433.91 L 297.22 435.24 L 297.99 436.62 L 298.62 437.93 L 299.21 439.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-47">
          <g>
            <path
              d="M 170 410 L 170 409.85 L 180 410.49 L 190 410.33 L 200 409.77 L 210 409.68 L 220 409.83 L 230 409.96 L 240 410.05 L 250 410 L 250.15 410 L 249.84 414 L 250.17 418 L 249.94 422 L 250.06 426 L 250 430 L 250 430.01 L 240 430.38 L 230 429.74 L 220 430.02 L 210 429.92 L 200 430.09 L 190 430.17 L 180 429.67 L 170 430 L 170.08 430 L 170.01 426 L 169.94 422 L 170.08 418 L 169.87 414 L 170 410 L 170 410 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe center; justify-content: unsafe flex-end; width: 1px; height: 1px; padding-top: 420px; margin-left: 248px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: right;  "
                    >
                      <div
                        style='display: inline-block; font-size: 15px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div>Siroop</div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="248"
                  y="425"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="15px"
                  text-anchor="end">Siroop</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-48">
          <g>
            <path
              d="M 446.4 430 L 446.4 429.57 L 456.15 429.58 L 465.89 429.9 L 475.64 429.87 L 485.38 430.04 L 495.13 430.43 L 504.87 430.22 L 514.62 429.58 L 524.36 429.73 L 534.11 430.14 L 543.85 429.9 L 553.6 430 Q 560 430 560 436.4 L 560.06 436.4 L 559.94 441.84 L 559.96 447.28 L 560.16 452.72 L 559.93 458.16 L 560 463.6 Q 560 470 553.6 470 L 553.6 469.86 L 543.85 470.13 L 534.11 469.87 L 524.36 469.68 L 514.62 469.96 L 504.87 470.07 L 495.13 469.74 L 485.38 470.19 L 475.64 470.28 L 465.89 469.79 L 456.15 470.07 L 446.4 470 Q 440 470 440 463.6 L 439.92 463.6 L 439.94 458.16 L 440.07 452.72 L 439.85 447.28 L 440.02 441.84 L 440 436.4 Q 440 430 446.4 430 L 446.4 430 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
            <path
              d="M 446 430 L 445.91 430 L 445.95 438 L 446.16 446 L 446.08 454 L 446.06 462 L 446 470 M 554 430 L 554.09 430 L 554.01 438 L 554.06 446 L 554.15 454 L 554.02 462 L 554 470"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="middle"
              font-size="20px"
            >
              <text x="500" y="459">
                <tspan>Smeren</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-49">
          <g>
            <path
              d="M 440 450 L 440 450.46 L 430 450.18 L 420 449.76 L 410 449.87 L 400 450.31 L 390 449.78 L 380 450.24 L 370 449.98 L 360 449.55 L 350 449.95 L 340 449.52 L 330 450 Q 320 450 312.93 457.07 L 312.83 456.97 L 311.45 458.47 L 310.1 459.99 L 308.56 461.33 L 307.29 462.94 L 305.74 464.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300.79 469.21 L 300.69 469.16 L 301.33 467.83 L 302.13 466.58 L 302.64 465.19 L 303.42 463.93 L 304.09 462.61 L 304.07 462.59 L 304.76 463.28 L 305.48 464 L 306.17 464.69 L 306.8 465.31 L 307.39 465.91 L 307.34 465.81 L 306.12 466.67 L 304.72 467.18 L 303.45 467.92 L 302.17 468.67 L 300.79 469.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-52">
          <g>
            <path
              d="M 550 390 L 550 389.94 L 548 390.12 L 546 389.9 L 544 390 L 542 390.11 L 540 390 Q 530 390 522.93 397.07 L 522.86 397.01 L 521.54 398.27 L 520.42 399.74 L 518.96 400.86 L 517.71 402.19 L 516.46 403.54 Q 510 410 510 415.94 L 510.04 415.94 L 509.94 417.13 L 509.84 418.32 L 510.1 419.51 L 509.88 420.69 L 510 421.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 510 428.88 L 509.94 428.86 L 509.42 427.45 L 509.1 426.09 L 508.5 424.65 L 508.11 423.27 L 507.67 421.88 L 507.67 421.81 L 508.6 422.03 L 509.53 421.95 L 510.47 421.85 L 511.4 421.99 L 512.33 421.88 L 512.21 421.84 L 511.9 423.29 L 511.43 424.69 L 510.91 426.07 L 510.56 427.51 L 510 428.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-53">
          <g>
            <path
              d="M 560 380 L 560 380.43 L 570 379.96 L 580 380.28 L 590 380.16 L 600 379.89 L 610 380.41 L 620 380.23 L 630 379.96 L 640 380 L 640.15 380 L 639.98 384 L 639.99 388 L 639.97 392 L 639.86 396 L 640 400 L 640 399.72 L 630 399.79 L 620 399.59 L 610 400.18 L 600 399.78 L 590 399.52 L 580 399.85 L 570 400.2 L 560 400 L 560.08 400 L 560.02 396 L 560.06 392 L 560.12 388 L 560.04 384 L 560 380 L 560 380 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              font-size="15px"
            >
              <text x="562" y="396.5">
                <tspan>Mosterd</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-54">
          <g>
            <path
              d="M 360 380 L 360 379.74 L 370 379.85 L 380 380.42 L 390 380.27 L 400 380.41 L 410 379.75 L 420 379.74 L 430 379.98 L 440 380 L 439.98 380 L 439.99 384 L 439.95 388 L 440.17 392 L 439.97 396 L 440 400 L 440 399.87 L 430 399.77 L 420 400.26 L 410 399.56 L 400 400.02 L 390 399.91 L 380 400.35 L 370 399.79 L 360 400 L 360.09 400 L 360.16 396 L 360.16 392 L 359.89 388 L 359.85 384 L 360 380 L 360 380 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="438" y="396.5">
                <tspan>Boterham</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-55">
          <g>
            <path
              d="M 450 390 L 450 390.01 L 452 390.09 L 454 390.07 L 456 390.02 L 458 390.15 L 460 390 Q 470 390 477.07 397.07 L 477.17 397.17 L 478.37 398.37 L 479.72 399.72 L 481.01 401.01 L 482.25 402.25 L 483.54 403.54 Q 490 410 490 415.94 L 489.93 415.94 L 490.02 417.13 L 489.85 418.32 L 489.93 419.51 L 490 420.69 L 490 421.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 490 428.88 L 490.01 428.89 L 489.48 427.46 L 489.2 426.13 L 488.61 424.69 L 488.14 423.28 L 487.67 421.88 L 487.67 421.73 L 488.6 422 L 489.53 421.74 L 490.47 421.94 L 491.4 421.94 L 492.33 421.88 L 492.24 421.85 L 491.88 423.28 L 491.49 424.71 L 490.85 426.06 L 490.49 427.49 L 490 428.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-56">
          <g>
            <path
              d="M 1 240 L 1 240.36 L 10.88 240.43 L 20.75 239.93 L 30.63 239.84 L 40.5 239.64 L 50.38 240.25 L 60.25 240.43 L 70.13 240.35 L 80 239.87 L 89.88 240.2 L 99.75 239.83 L 109.63 240.45 L 119.5 240.31 L 129.38 240.18 L 139.25 240.18 L 149.13 240.42 L 159 240 Q 160 240 160 241 L 159.97 241 L 160.07 250.6 L 159.95 260.2 L 159.96 269.8 L 159.83 279.4 L 160 289 Q 160 290 159 290 L 159 290.44 L 149.13 289.82 L 139.25 289.84 L 129.38 289.98 L 119.5 289.61 L 109.63 289.98 L 99.75 289.74 L 89.88 290.17 L 80 290.27 L 70.13 289.66 L 60.25 289.64 L 50.38 290.42 L 40.5 289.88 L 30.63 289.79 L 20.75 290.03 L 10.88 290.4 L 1 290 Q 0 290 0 289 L 0.33 289 L 0.09 279.4 L 0.11 269.8 L -0.41 260.2 L -0.32 250.6 L 0 241 Q 0 240 1 240 L 1 240 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 245px; margin-left: 10px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: left;  "
                    >
                      <div
                        style='display: inline-block; font-size: 15px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div >
                          <font>1 Braadpan</font>
                        </div>
                        <div >
                          <font>1 Stoofpot</font>
                        </div>
                        <div >
                          <font>
                            <br />
                          </font>
                        </div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="10"
                  y="260"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="15px">1 Braadpan...</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-57">
          <g>
            <path
              d="M 3.2 40 L 3.2 39.6 L 13.44 40.23 L 23.68 39.76 L 33.92 39.57 L 44.16 40.14 L 54.4 40.07 L 64.64 40.38 L 74.88 39.81 L 85.12 40.21 L 95.36 39.65 L 105.6 40.04 L 115.84 40.4 L 126.08 40.41 L 136.32 39.56 L 146.56 39.99 L 156.8 40 Q 160 40 160 43.2 L 159.87 43.2 L 160.24 53.4 L 160.39 63.6 L 159.85 73.8 L 159.6 84 L 159.77 94.2 L 160.12 104.4 L 159.62 114.6 L 160.31 124.8 L 159.84 135 L 159.66 145.2 L 160.22 155.4 L 159.92 165.6 L 159.72 175.8 L 159.96 186 L 160.13 196.2 L 160.38 206.4 L 159.78 216.6 L 160 226.8 Q 160 230 156.8 230 L 156.8 229.73 L 146.56 230.49 L 136.32 229.57 L 126.08 230.4 L 115.84 230.44 L 105.6 230.1 L 95.36 230.28 L 85.12 230.31 L 74.88 230.34 L 64.64 230.29 L 54.4 230.41 L 44.16 230.36 L 33.92 229.64 L 23.68 230.37 L 13.44 230.01 L 3.2 230 Q 0 230 0 226.8 L 0.31 226.8 L -0.22 216.6 L 0.49 206.4 L 0.41 196.2 L -0.19 186 L -0.14 175.8 L -0.38 165.6 L 0.33 155.4 L 0.18 145.2 L 0.47 135 L -0.13 124.8 L -0.44 114.6 L -0.07 104.4 L 0.05 94.2 L 0.02 84 L 0.3 73.8 L -0.05 63.6 L 0.41 53.4 L 0 43.2 Q 0 40 3.2 40 L 3.2 40 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g>
              <switch>
                <foreignObject
                  style="overflow: visible; text-align: left;"
                  pointer-events="none"
                  width="100%"
                  height="100%"
                  requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                >
                  <div
                    
                    style="display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 45px; margin-left: 10px;"
                  >
                    <div
                      style="box-sizing: border-box; font-size: 0; text-align: left;  "
                    >
                      <div
                        style='display: inline-block; font-size: 15px; font-family: "xkcd Script";  line-height: 1.2; pointer-events: all; white-space: nowrap; '
                      >
                        <div>UI ( 2 )</div>
                        <div>Laurier</div>
                        <div>Tijm</div>
                        <div>Bier ( 2 flesjes )</div>
                        <div>Stoofvlees ( 1 kg )</div>
                        <div>Kruidnagel ( 1 )</div>
                        <div>Siroop ( 1 el )</div>
                        <div>Mosterd ( 2 el )</div>
                        <div>Boterham</div>
                        <div>Azijn</div>
                      </div>
                    </div>
                  </div>
                </foreignObject>
                <text
                  x="10"
                  y="60"
                  fill="currentcolor"
                  font-family='"xkcd Script"'
                  font-size="15px">UI ( 2 )...</text
                >
              </switch>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-58">
          <g>
            <path
              d="M 0.6 0 L 0.6 0.3 L 10.53 0.24 L 20.45 -0.03 L 30.38 -0.38 L 40.3 0.48 L 50.22 -0.04 L 60.15 -0.2 L 70.07 0.37 L 80 -0.47 L 89.93 0.46 L 99.85 0.36 L 109.78 -0.09 L 119.7 -0.15 L 129.63 -0.39 L 139.55 0.36 L 149.47 0.08 L 159.4 0 Q 160 0 160 0.6 L 160.12 0.6 L 160.13 6.36 L 160.15 12.12 L 159.94 17.88 L 160.03 23.64 L 160 29.4 Q 160 30 159.4 30 L 159.4 30.47 L 149.47 29.61 L 139.55 29.66 L 129.63 30.08 L 119.7 29.65 L 109.78 30.14 L 99.85 30.19 L 89.93 30.04 L 80 29.57 L 70.07 30.31 L 60.15 30.49 L 50.22 30.04 L 40.3 29.97 L 30.38 30.43 L 20.45 29.93 L 10.53 29.85 L 0.6 30 Q 0 30 0 29.4 L -0.03 29.4 L 0.05 23.64 L -0.07 17.88 L 0.06 12.12 L 0.04 6.36 L 0 0.6 Q 0 0 0.6 0 L 0.6 0 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="middle"
              font-size="20px"
            >
              <text x="85" y="24">
                <tspan>Benodigdheden</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-59">
          <g>
            <path
              d="M 170.6 0 L 170.6 0.29 L 180.57 -0.23 L 190.55 -0.33 L 200.52 -0.43 L 210.5 -0.29 L 220.47 -0.22 L 230.45 -0.15 L 240.42 -0.39 L 250.4 0.34 L 260.37 -0.26 L 270.34 0.18 L 280.32 -0.14 L 290.29 0.17 L 300.27 0.14 L 310.24 -0.34 L 320.22 -0.25 L 330.19 0.35 L 340.17 -0.25 L 350.14 -0.33 L 360.11 0.2 L 370.09 -0.11 L 380.06 0.3 L 390.04 0.13 L 400.01 -0.18 L 409.99 -0.03 L 419.96 0.13 L 429.94 0.28 L 439.91 0.27 L 449.89 0.37 L 459.86 -0.46 L 469.83 0.36 L 479.81 0.09 L 489.78 0.15 L 499.76 0.26 L 509.73 0.42 L 519.71 -0.46 L 529.68 0.16 L 539.66 0.02 L 549.63 -0.07 L 559.6 0.04 L 569.58 -0.24 L 579.55 -0.34 L 589.53 0.11 L 599.5 -0.2 L 609.48 -0.38 L 619.45 0.35 L 629.43 -0.04 L 639.4 0 Q 640 0 640 0.6 L 639.96 0.6 L 640.14 6.36 L 640.09 12.12 L 639.95 17.88 L 640.04 23.64 L 640 29.4 Q 640 30 639.4 30 L 639.4 30.11 L 629.43 29.68 L 619.45 30.25 L 609.48 29.99 L 599.5 30.23 L 589.53 30.15 L 579.55 29.66 L 569.58 30.2 L 559.6 29.89 L 549.63 29.92 L 539.66 30.26 L 529.68 29.93 L 519.71 30.08 L 509.73 30.4 L 499.76 29.56 L 489.78 30.23 L 479.81 30.35 L 469.83 30.5 L 459.86 30.18 L 449.89 30.43 L 439.91 30.47 L 429.94 30.34 L 419.96 30.16 L 409.99 30.39 L 400.01 30.48 L 390.04 30.1 L 380.06 30.19 L 370.09 30.25 L 360.11 30.21 L 350.14 30.1 L 340.17 29.73 L 330.19 29.82 L 320.22 29.86 L 310.24 30.22 L 300.27 30.36 L 290.29 30.17 L 280.32 30.16 L 270.34 30 L 260.37 30.16 L 250.4 30.28 L 240.42 29.61 L 230.45 30.03 L 220.47 30.05 L 210.5 29.92 L 200.52 30.35 L 190.55 30.33 L 180.57 29.9 L 170.6 30 Q 170 30 170 29.4 L 169.91 29.4 L 170.05 23.64 L 170.02 17.88 L 170.03 12.12 L 169.86 6.36 L 170 0.6 Q 170 0 170.6 0 L 170.6 0 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="middle"
              font-size="20px"
            >
              <text x="410" y="24">
                <tspan>Bereidingswijze</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-60">
          <g>
            <path
              d="M 300 540 L 300.23 540 L 299.69 550.24 L 300.16 560.47 L 299.7 570.71 L 300.08 580.94 L 300.45 591.18 L 299.67 601.41 L 300.04 611.65 L 300 621.88"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 300 628.88 L 300.11 628.92 L 299.52 627.48 L 299.04 626.07 L 298.71 624.72 L 298.1 623.27 L 297.67 621.88 L 297.67 621.82 L 298.6 622.01 L 299.53 621.78 L 300.47 621.94 L 301.4 621.77 L 302.33 621.88 L 302.47 621.93 L 301.89 623.29 L 301.45 624.7 L 300.81 626.04 L 300.49 627.49 L 300 628.88 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
          <g data-cell-id="saPDqxz1WeLiPqNqaQB7-61">
            <g>
              <g
                fill="currentcolor"
                style="fill: currentcolor;"
                font-family='"xkcd Script"'
                text-anchor="middle"
                font-size="15px"
              >
                <text x="345.4" y="556.3">
                  <tspan>1.5 tot 3 uur</tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-62">
          <g>
            <path
              d="M 260 590 L 260 590.03 L 262 590.14 L 264 589.96 L 266 589.96 L 268 590.16 L 270 590 Q 280 590 287.07 597.07 L 287.13 597.13 L 288.57 598.57 L 290.06 600.06 L 291.44 601.44 L 292.91 602.91 L 294.26 604.26"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="stroke"></path>
            <path
              d="M 299.21 609.21 L 299.18 609.15 L 297.86 608.49 L 296.57 607.89 L 295.21 607.14 L 293.88 606.46 L 292.61 605.91 L 292.61 605.91 L 293.29 605.27 L 293.89 604.55 L 294.65 603.99 L 295.21 603.23 L 295.91 602.61 L 295.8 602.56 L 296.57 603.93 L 297.14 605.21 L 298.03 606.64 L 298.44 607.84 L 299.21 609.21 Z Z"
              fill="currentcolor"
              style="fill: currentcolor; stroke: currentcolor;"
              stroke="currentcolor"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="2"
              pointer-events="all"></path>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-63">
          <g>
            <path
              d="M 170 580 L 170 580.04 L 180 580.12 L 190 580.18 L 200 579.69 L 210 579.93 L 220 579.69 L 230 579.62 L 240 580.07 L 250 580 L 250.14 580 L 250.07 584 L 249.86 588 L 249.97 592 L 250.12 596 L 250 600 L 250 600.01 L 240 599.8 L 230 599.81 L 220 600.23 L 210 600.25 L 200 600.41 L 190 599.94 L 180 600.49 L 170 600 L 169.88 600 L 170.01 596 L 169.96 592 L 170.08 588 L 169.86 584 L 170 580 L 170 580 Z Z"
              fill="none"
              stroke="none"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="end"
              font-size="15px"
            >
              <text x="248" y="596.5">
                <tspan>Azijn</tspan>
              </text>
            </g>
          </g>
        </g>
        <g data-cell-id="saPDqxz1WeLiPqNqaQB7-64">
          <g>
            <path
              d="M 246.4 630 L 246.4 629.58 L 256.15 630.45 L 265.89 629.79 L 275.64 630.49 L 285.38 630.42 L 295.13 630.14 L 304.87 629.95 L 314.62 630.27 L 324.36 629.75 L 334.11 630.36 L 343.85 629.94 L 353.6 630 Q 360 630 360 636.4 L 360.15 636.4 L 359.92 641.84 L 359.99 647.28 L 359.94 652.72 L 359.88 658.16 L 360 663.6 Q 360 670 353.6 670 L 353.6 669.73 L 343.85 669.74 L 334.11 670.19 L 324.36 670.2 L 314.62 670.15 L 304.87 670.07 L 295.13 670.34 L 285.38 670.13 L 275.64 670.18 L 265.89 670.29 L 256.15 670.46 L 246.4 670 Q 240 670 240 663.6 L 239.98 663.6 L 239.94 658.16 L 239.88 652.72 L 239.99 647.28 L 239.9 641.84 L 240 636.4 Q 240 630 246.4 630 L 246.4 630 Z Z"
              fill="none"
              stroke="currentcolor"
              style="stroke: currentcolor;"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="10"
              pointer-events="all"></path>
          </g>
          <g>
            <g
              fill="currentcolor"
              style="fill: currentcolor;"
              font-family='"xkcd Script"'
              text-anchor="middle"
              font-size="20px"
            >
              <text x="300" y="659">
                <tspan>Smakelijk!</tspan>
              </text>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
