---

---

<img class="my-0 py-0" />
<style>
  @font-face {
    font-family: "xkcd Script";
    src: url("/fonts/xkcd-script.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
<svg viewBox="-0.5 -0.5 651 751">
    <g>
        <g data-cell-id="0">
            <g data-cell-id="1">
                <g data-cell-id="by2YveXj56XLIuSxRprI-10">
                    <g>
                        <path
                            d="M 356.4 100 L 356.4 100.37 L 366.15 99.77 L 375.89 99.51 L 385.64 99.93 L 395.38 99.87 L 405.13 100.11 L 414.87 99.72 L 424.62 99.73 L 434.36 99.65 L 444.11 99.81 L 453.85 99.73 L 463.6 100 Q 470 100 470 106.4 L 469.94 106.4 L 469.87 111.84 L 470.16 117.28 L 469.9 122.72 L 470.15 128.16 L 470 133.6 Q 470 140 463.6 140 L 463.6 140.36 L 453.85 140.16 L 444.11 139.56 L 434.36 140.29 L 424.62 140.32 L 414.87 139.7 L 405.13 139.83 L 395.38 139.58 L 385.64 139.73 L 375.89 140.13 L 366.15 140.26 L 356.4 140 Q 350 140 350 133.6 L 349.84 133.6 L 350.04 128.16 L 349.9 122.72 L 349.94 117.28 L 350.03 111.84 L 350 106.4 Q 350 100 356.4 100 L 356.4 100 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 356 100 L 355.88 100 L 355.89 108 L 355.85 116 L 356.13 124 L 356.09 132 L 356 140 M 464 100 L 463.93 100 L 463.94 108 L 464.07 116 L 463.85 124 L 463.99 132 L 464 140"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="409.5"
                                y="129">
                                <tspan>Scheiden</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-12">
                    <g>
                        <path
                            d="M 280 50 L 280 50.16 L 290 50.25 L 300 49.74 L 310 49.84 L 320 50.48 L 330 49.64 L 340 49.81 L 350 49.81 L 360 50 L 359.95 50 L 359.9 54 L 359.97 58 L 359.97 62 L 359.86 66 L 360 70 L 360 70.45 L 350 69.86 L 340 69.97 L 330 69.88 L 320 70.06 L 310 70.08 L 300 70.24 L 290 69.92 L 280 70 L 279.98 70 L 279.9 66 L 279.89 62 L 280.09 58 L 279.9 54 L 280 50 L 280 50 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="358"
                                y="66.5">
                                <tspan>Ei</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-13">
                    <g>
                        <path
                            d="M 170 190 L 170 189.92 L 180 190.15 L 190 189.99 L 200 189.84 L 210 189.57 L 220 190.24 L 230 190.48 L 240 189.91 L 250 190 L 250.1 190 L 250.07 194 L 249.88 198 L 250.01 202 L 250.03 206 L 250 210 L 250 209.78 L 240 209.65 L 230 210.44 L 220 209.86 L 210 209.83 L 200 209.55 L 190 209.94 L 180 210.08 L 170 210 L 170.02 210 L 169.93 206 L 169.9 202 L 170 198 L 170 194 L 170 190 L 170 190 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="248"
                                y="206.5">
                                <tspan>Gist</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-14">
                    <g>
                        <path
                            d="M 260 200 L 260 200.15 L 262 199.84 L 264 200 L 266 200.06 L 268 200.07 L 270 200 Q 280 200 287.07 207.07 L 286.97 206.97 L 288.4 208.4 L 289.88 209.88 L 291.36 211.36 L 292.87 212.87 L 294.26 214.26"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 299.21 219.21 L 299.19 219.17 L 297.89 218.55 L 296.55 217.85 L 295.26 217.24 L 293.99 216.68 L 292.61 215.91 L 292.56 215.86 L 293.22 215.2 L 293.84 214.5 L 294.7 214.04 L 295.26 213.28 L 295.91 212.61 L 295.8 212.56 L 296.64 213.97 L 297.21 215.24 L 297.88 216.56 L 298.68 217.96 L 299.21 219.21 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-15">
                    <g>
                        <path
                            d="M 370 60 L 370 60.14 L 372 59.92 L 374 60.01 L 376 59.96 L 378 59.94 L 380 60 Q 390 60 397.07 67.07 L 397.12 67.12 L 398.47 68.47 L 399.76 69.76 L 400.89 70.89 L 402.29 72.29 L 403.54 73.54 Q 410 80 410 85.94 L 409.91 85.94 L 409.94 87.13 L 409.89 88.32 L 409.84 89.51 L 409.89 90.69 L 410 91.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 410 98.88 L 410.06 98.9 L 409.6 97.5 L 409.1 96.09 L 408.6 94.68 L 408.15 93.29 L 407.67 91.88 L 407.67 91.9 L 408.6 91.81 L 409.53 91.78 L 410.47 91.97 L 411.4 92 L 412.33 91.88 L 412.43 91.91 L 411.92 93.3 L 411.27 94.64 L 410.92 96.08 L 410.31 97.43 L 410 98.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-33">
                    <g>
                        <path
                            d="M 1 240 L 1 239.99 L 10.88 240.22 L 20.75 239.92 L 30.63 240.17 L 40.5 239.63 L 50.38 240.43 L 60.25 240.37 L 70.13 240.29 L 80 239.97 L 89.88 240.19 L 99.75 240.04 L 109.63 239.91 L 119.5 240.19 L 129.38 240.35 L 139.25 239.86 L 149.13 240.5 L 159 240 Q 160 240 160 241 L 159.89 241 L 160.39 250.6 L 160.04 260.2 L 160.43 269.8 L 159.68 279.4 L 160 289 Q 160 290 159 290 L 159 290.37 L 149.13 289.71 L 139.25 290.01 L 129.38 290.15 L 119.5 290.19 L 109.63 290.03 L 99.75 290.2 L 89.88 289.78 L 80 289.58 L 70.13 290.16 L 60.25 290.33 L 50.38 290.44 L 40.5 289.96 L 30.63 290.05 L 20.75 290.48 L 10.88 290.48 L 1 290 Q 0 290 0 289 L 0.21 289 L -0.05 279.4 L -0.37 269.8 L -0.15 260.2 L 0.02 250.6 L 0 241 Q 0 240 1 240 L 1 240 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 245px; margin-left: 10px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: left; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 15px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div >
                                                    <font>2 Mengkommen</font>
                                                </div>
                                                <div >
                                                    <font>Wafelijzer</font>
                                                </div>
                                                <div >
                                                    <font><br /></font>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="10" y="260" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="15px">2 Mengkommen...</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-34">
                    <g>
                        <path
                            d="M 3.2 40 L 3.2 40.49 L 13.44 39.63 L 23.68 40.13 L 33.92 39.94 L 44.16 40.08 L 54.4 39.78 L 64.64 39.74 L 74.88 40.46 L 85.12 40.01 L 95.36 40.27 L 105.6 40.42 L 115.84 39.9 L 126.08 39.69 L 136.32 40.25 L 146.56 39.51 L 156.8 40 Q 160 40 160 43.2 L 160.09 43.2 L 159.59 53.4 L 159.65 63.6 L 159.96 73.8 L 160.43 84 L 160.41 94.2 L 160.1 104.4 L 159.62 114.6 L 159.82 124.8 L 160.22 135 L 160.32 145.2 L 160.44 155.4 L 160.37 165.6 L 160.06 175.8 L 159.85 186 L 159.82 196.2 L 160.25 206.4 L 160.33 216.6 L 160 226.8 Q 160 230 156.8 230 L 156.8 230.09 L 146.56 230.23 L 136.32 229.77 L 126.08 230.08 L 115.84 230.07 L 105.6 230.17 L 95.36 230.36 L 85.12 229.95 L 74.88 229.78 L 64.64 230.12 L 54.4 230.25 L 44.16 229.58 L 33.92 230.19 L 23.68 229.58 L 13.44 229.98 L 3.2 230 Q 0 230 0 226.8 L -0.14 226.8 L -0.5 216.6 L -0.03 206.4 L 0.26 196.2 L 0.18 186 L -0.44 175.8 L 0.24 165.6 L 0.25 155.4 L -0.21 145.2 L 0.43 135 L -0.01 124.8 L -0.39 114.6 L 0.22 104.4 L 0.2 94.2 L -0.21 84 L -0.01 73.8 L 0.08 63.6 L 0.4 53.4 L 0 43.2 Q 0 40 3.2 40 L 3.2 40 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 45px; margin-left: 10px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: left; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 15px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div>Ei ( 1 )</div>
                                                <div>Gist ( 6 g )</div>
                                                <div>Melk ( 125 ml )</div>
                                                <div>Water ( 125 ml )</div>
                                                <div>
                                                    <div>Zelfrijzende <br />&nbsp;&nbsp;Bloem ( 150 g )</div>
                                                    <div>Boter ( 50 g )</div>Zout
                                                </div>
                                                <div><br /></div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="10" y="60" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="15px">Ei ( 1 )...</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-35">
                    <g>
                        <path
                            d="M 0.6 0 L 0.6 -0.07 L 10.53 0.08 L 20.45 0.25 L 30.38 -0.44 L 40.3 -0.28 L 50.22 -0.25 L 60.15 -0.07 L 70.07 -0.23 L 80 0.09 L 89.93 -0.25 L 99.85 -0.19 L 109.78 0.13 L 119.7 -0.24 L 129.63 0.19 L 139.55 0.12 L 149.47 0.37 L 159.4 0 Q 160 0 160 0.6 L 159.94 0.6 L 160.01 6.36 L 159.85 12.12 L 159.99 17.88 L 160.05 23.64 L 160 29.4 Q 160 30 159.4 30 L 159.4 30.49 L 149.47 30.3 L 139.55 29.56 L 129.63 30.36 L 119.7 29.64 L 109.78 29.64 L 99.85 30.14 L 89.93 29.62 L 80 29.59 L 70.07 30.02 L 60.15 29.77 L 50.22 30.05 L 40.3 30 L 30.38 29.54 L 20.45 29.92 L 10.53 29.84 L 0.6 30 Q 0 30 0 29.4 L 0.16 29.4 L -0.04 23.64 L 0.03 17.88 L 0 12.12 L 0.08 6.36 L 0 0.6 Q 0 0 0.6 0 L 0.6 0 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="85"
                                y="24">
                                <tspan>Benodigdheden</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-36">
                    <g>
                        <path
                            d="M 170.6 0 L 170.6 0.08 L 180.57 0.31 L 190.55 -0.07 L 200.53 0.22 L 210.5 -0.42 L 220.47 0.33 L 230.45 -0.38 L 240.42 -0.44 L 250.4 0.25 L 260.38 -0.33 L 270.35 -0.43 L 280.32 -0.03 L 290.3 -0.01 L 300.27 0.07 L 310.25 -0.13 L 320.22 -0.09 L 330.2 -0.17 L 340.18 -0.43 L 350.15 -0.38 L 360.13 0.49 L 370.1 -0.08 L 380.07 -0.14 L 390.05 -0.33 L 400.02 0.21 L 410 0.24 L 419.97 -0.27 L 429.95 -0.06 L 439.92 0.25 L 449.9 0.4 L 459.88 -0.2 L 469.85 0.04 L 479.82 0.4 L 489.8 0.33 L 499.77 0.4 L 509.75 0.2 L 519.72 0.45 L 529.7 0.23 L 539.67 -0.35 L 549.65 -0.23 L 559.63 -0.36 L 569.6 0.03 L 579.57 0.41 L 589.55 -0.29 L 599.52 0.02 L 609.5 -0.44 L 619.47 0.36 L 629.45 0.01 L 639.42 0.09 L 649.4 0 Q 650 0 650 0.6 L 649.92 0.6 L 650.16 6.36 L 649.92 12.12 L 649.86 17.88 L 650.09 23.64 L 650 29.4 Q 650 30 649.4 30 L 649.4 30.48 L 639.42 29.59 L 629.45 29.51 L 619.47 30.36 L 609.5 30.09 L 599.52 29.78 L 589.55 29.99 L 579.57 30.44 L 569.6 29.62 L 559.63 30.5 L 549.65 30.02 L 539.67 30.29 L 529.7 30.16 L 519.72 29.57 L 509.75 29.69 L 499.77 30.35 L 489.8 30.14 L 479.82 29.6 L 469.85 30.01 L 459.88 30.13 L 449.9 29.97 L 439.93 29.53 L 429.95 30.43 L 419.97 30.4 L 410 30.15 L 400.02 29.87 L 390.05 29.97 L 380.07 29.94 L 370.1 30.48 L 360.13 29.8 L 350.15 30.15 L 340.18 30.18 L 330.2 30.25 L 320.22 29.95 L 310.25 30.06 L 300.27 29.9 L 290.3 29.86 L 280.32 30.14 L 270.35 30.27 L 260.38 30.03 L 250.4 29.59 L 240.42 30.35 L 230.45 29.51 L 220.47 30.39 L 210.5 30.25 L 200.52 30.45 L 190.55 30.17 L 180.57 30.43 L 170.6 30 Q 170 30 170 29.4 L 170.04 29.4 L 170.09 23.64 L 170.07 17.88 L 170.13 12.12 L 170.05 6.36 L 170 0.6 Q 170 0 170.6 0 L 170.6 0 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="415"
                                y="24">
                                <tspan>Bereidingswijze</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-42">
                    <g>
                        <path
                            d="M 246.4 310 L 246.4 309.7 L 256.15 310.34 L 265.89 309.65 L 275.64 310.01 L 285.38 310.08 L 295.13 310.11 L 304.87 310.12 L 314.62 310.31 L 324.36 309.6 L 334.11 309.52 L 343.85 310.41 L 353.6 310 Q 360 310 360 316.4 L 360.02 316.4 L 360.13 321.84 L 360.14 327.28 L 360.1 332.72 L 360.02 338.16 L 360 343.6 Q 360 350 353.6 350 L 353.6 350.36 L 343.85 350.22 L 334.11 350.45 L 324.36 349.71 L 314.62 350.44 L 304.87 350 L 295.13 350.13 L 285.38 350.49 L 275.64 349.57 L 265.89 349.66 L 256.15 350.29 L 246.4 350 Q 240 350 240 343.6 L 240.16 343.6 L 239.89 338.16 L 240.07 332.72 L 239.84 327.28 L 240.02 321.84 L 240 316.4 Q 240 310 246.4 310 L 246.4 310 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 246 310 L 245.95 310 L 246.13 318 L 246.17 326 L 246.03 334 L 245.96 342 L 246 350 M 354 310 L 353.93 310 L 353.89 318 L 353.91 326 L 353.96 334 L 354.03 342 L 354 350"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 330px; margin-left: 300px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: center; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 20px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div style="line-height: 80%;">Mengen</div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="300" y="336" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="20px"
                                    text-anchor="middle">Mengen</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="by2YveXj56XLIuSxRprI-43">
                    <g>
                        <path
                            d="M 300 301.88 L 300 301.88 L 300.39 291.67 L 300.43 281.46 L 300.46 271.25 L 300.03 261.05 L 299.51 250.84 L 299.78 240.63 L 300.47 230.42 L 299.91 220.21 L 300 210 Q 300 200 307.07 192.93 L 307.09 192.95 L 308.33 191.61 L 309.73 190.42 L 311.07 189.17 L 312.2 187.72 L 313.54 186.46 Q 320 180 330 180 L 330 179.88 L 338 180.03 L 346 179.97 L 354 180.03 L 362 180.01 L 370 180 Q 380 180 387.07 172.93 L 387.06 172.91 L 388.33 171.61 L 389.65 170.34 L 391.01 169.11 L 392.31 167.83 L 393.54 166.46 Q 400 160 400 150 L 399.93 150 L 400.08 148 L 399.98 146 L 400.08 144 L 400.07 142 L 400 140"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300 308.88 L 300.06 308.9 L 299.53 307.48 L 299.22 306.13 L 298.53 304.66 L 298.11 303.27 L 297.67 301.88 L 297.67 301.72 L 298.6 301.87 L 299.53 301.87 L 300.47 301.91 L 301.4 301.91 L 302.33 301.88 L 302.22 301.84 L 301.89 303.29 L 301.27 304.64 L 301.01 306.11 L 300.55 307.51 L 300 308.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                    <g data-cell-id="by2YveXj56XLIuSxRprI-44">
                        <g>
                            <g fill="currentColor" style="fill: currentColor"
                                font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="15px"><text
                                    x="370.22" y="155">
                                    <tspan>Eigeel</tspan>
                                </text></g>
                        </g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-1">
                    <g>
                        <path
                            d="M 466.4 230 L 466.4 229.73 L 476.15 229.66 L 485.89 230.01 L 495.64 230.16 L 505.38 229.69 L 515.13 229.87 L 524.87 229.88 L 534.62 230.15 L 544.36 230.22 L 554.11 230.45 L 563.85 230.18 L 573.6 230 Q 580 230 580 236.4 L 579.84 236.4 L 579.92 241.84 L 579.93 247.28 L 579.87 252.72 L 579.98 258.16 L 580 263.6 Q 580 270 573.6 270 L 573.6 270.23 L 563.85 269.91 L 554.11 270.37 L 544.36 270 L 534.62 270.08 L 524.87 270.34 L 515.13 270.08 L 505.38 270.5 L 495.64 269.98 L 485.89 270.13 L 476.15 269.7 L 466.4 270 Q 460 270 460 263.6 L 460.03 263.6 L 459.95 258.16 L 460.03 252.72 L 459.97 247.28 L 460.15 241.84 L 460 236.4 Q 460 230 466.4 230 L 466.4 230 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 466 230 L 466.15 230 L 466.01 238 L 465.88 246 L 466.07 254 L 466.16 262 L 466 270 M 574 230 L 574.09 230 L 574.13 238 L 574.14 246 L 574.06 254 L 573.89 262 L 574 270"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 250px; margin-left: 520px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: center; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 20px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div style="line-height: 80%;">Opkloppen</div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="520" y="256" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="20px"
                                    text-anchor="middle">Opkloppen</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-2">
                    <g>
                        <path
                            d="M 170 220 L 170 219.66 L 180 220.49 L 190 219.99 L 200 220.48 L 210 219.65 L 220 219.55 L 230 219.74 L 240 220.04 L 250 220 L 250 220 L 250.09 224 L 249.9 228 L 249.92 232 L 249.89 236 L 250 240 L 250 240.37 L 240 239.76 L 230 240.5 L 220 240.24 L 210 240.41 L 200 240.28 L 190 239.62 L 180 240.05 L 170 240 L 169.86 240 L 170.17 236 L 170.1 232 L 169.87 228 L 169.97 224 L 170 220 L 170 220 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="248"
                                y="236.5">
                                <tspan>Melk</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-3">
                    <g>
                        <path
                            d="M 260 230 L 260 229.94 L 262 230.14 L 264 230.16 L 266 230.13 L 268 229.99 L 270 230 Q 280 230 287.07 237.07 L 287.02 237.02 L 288.49 238.49 L 289.93 239.93 L 291.34 241.34 L 292.89 242.89 L 294.26 244.26"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 299.21 249.21 L 299.2 249.18 L 297.95 248.67 L 296.57 247.9 L 295.29 247.3 L 293.87 246.44 L 292.61 245.91 L 292.66 245.96 L 293.18 245.16 L 293.87 244.53 L 294.56 243.9 L 295.14 243.16 L 295.91 242.61 L 295.83 242.57 L 296.5 243.89 L 297.12 245.19 L 297.89 246.57 L 298.57 247.9 L 299.21 249.21 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-4">
                    <g>
                        <path
                            d="M 170 250 L 170 249.88 L 180 250.2 L 190 250.48 L 200 250.38 L 210 249.54 L 220 250.01 L 230 250.14 L 240 250.22 L 250 250 L 249.94 250 L 249.84 254 L 249.96 258 L 249.97 262 L 249.96 266 L 250 270 L 250 269.69 L 240 270.03 L 230 269.89 L 220 270.09 L 210 270.31 L 200 269.96 L 190 269.58 L 180 269.93 L 170 270 L 170.02 270 L 170 266 L 169.93 262 L 170.04 258 L 170.13 254 L 170 250 L 170 250 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="248"
                                y="266.5">
                                <tspan>Water</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-5">
                    <g>
                        <path
                            d="M 260 260 L 260 259.87 L 262 259.86 L 264 259.95 L 266 260.11 L 268 260.09 L 270 260 Q 280 260 287.07 267.07 L 287.03 267.03 L 288.5 268.5 L 289.85 269.85 L 291.41 271.41 L 292.82 272.82 L 294.26 274.26"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 299.21 279.21 L 299.18 279.15 L 297.85 278.47 L 296.52 277.79 L 295.21 277.15 L 293.93 276.56 L 292.61 275.91 L 292.66 275.96 L 293.38 275.36 L 293.88 274.54 L 294.65 273.99 L 295.26 273.28 L 295.91 272.61 L 295.91 272.61 L 296.65 273.97 L 297.35 275.31 L 298.03 276.64 L 298.55 277.89 L 299.21 279.21 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-6">
                    <g>
                        <path
                            d="M 520 221.88 L 519.99 221.88 L 519.97 219.51 L 520.04 217.13 L 519.89 214.75 L 519.87 212.38 L 520 210 Q 520 200 512.93 192.93 L 512.83 192.83 L 511.55 191.55 L 510.36 190.36 L 509.03 189.03 L 507.71 187.71 L 506.46 186.46 Q 500 180 490 180 L 490 179.93 L 482 180.06 L 474 180.12 L 466 180.14 L 458 179.87 L 450 180 Q 440 180 432.93 172.93 L 432.94 172.94 L 431.53 171.53 L 430.26 170.26 L 428.99 168.99 L 427.73 167.73 L 426.46 166.46 Q 420 160 420 150 L 419.92 150 L 419.91 148 L 420.04 146 L 420.12 144 L 420 142 L 420 140"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 520 228.88 L 519.91 228.85 L 519.53 227.48 L 519.18 226.12 L 518.75 224.73 L 518.05 223.26 L 517.67 221.88 L 517.67 222.02 L 518.6 221.85 L 519.53 221.95 L 520.47 221.75 L 521.4 222.04 L 522.33 221.88 L 522.23 221.85 L 521.75 223.24 L 521.47 224.7 L 520.8 226.04 L 520.45 227.48 L 520 228.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                    <g data-cell-id="rSO8yLdnr7u90DC1dtAx-7">
                        <g>
                            <g fill="currentColor" style="fill: currentColor"
                                font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="15px"><text
                                    x="445.78" y="156">
                                    <tspan>Eiwit</tspan>
                                </text></g>
                        </g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-8">
                    <g>
                        <path
                            d="M 246.4 450 L 246.4 449.99 L 256.15 449.53 L 265.89 450.26 L 275.64 449.98 L 285.38 449.68 L 295.13 450.09 L 304.87 450.01 L 314.62 449.88 L 324.36 449.84 L 334.11 450.28 L 343.85 450.35 L 353.6 450 Q 360 450 360 456.4 L 359.91 456.4 L 360.14 461.84 L 360.05 467.28 L 359.99 472.72 L 360.05 478.16 L 360 483.6 Q 360 490 353.6 490 L 353.6 490.36 L 343.85 490.05 L 334.11 490.46 L 324.36 489.97 L 314.62 489.82 L 304.87 489.53 L 295.13 489.75 L 285.38 490.28 L 275.64 490.29 L 265.89 490.12 L 256.15 490.25 L 246.4 490 Q 240 490 240 483.6 L 239.9 483.6 L 239.96 478.16 L 240.01 472.72 L 239.95 467.28 L 239.97 461.84 L 240 456.4 Q 240 450 246.4 450 L 246.4 450 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 246 450 L 245.85 450 L 246.11 458 L 245.92 466 L 245.92 474 L 246.08 482 L 246 490 M 354 450 L 354.03 450 L 354.16 458 L 353.91 466 L 353.91 474 L 353.83 482 L 354 490"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 470px; margin-left: 300px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: center; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 20px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div style="line-height: 80%;">Mengen</div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="300" y="476" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="20px"
                                    text-anchor="middle">Mengen</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-9">
                    <g>
                        <path
                            d="M 386.4 310 L 386.4 309.96 L 396.15 309.73 L 405.89 309.87 L 415.64 309.56 L 425.38 309.76 L 435.13 309.58 L 444.87 310.12 L 454.62 309.66 L 464.36 309.99 L 474.11 310.3 L 483.85 309.72 L 493.6 310 Q 500 310 500 316.4 L 499.89 316.4 L 499.86 321.84 L 499.95 327.28 L 500.1 332.72 L 500 338.16 L 500 343.6 Q 500 350 493.6 350 L 493.6 349.54 L 483.85 350.38 L 474.11 349.79 L 464.36 350.28 L 454.62 349.54 L 444.87 349.91 L 435.13 350.42 L 425.38 350.19 L 415.64 349.91 L 405.89 349.6 L 396.15 349.66 L 386.4 350 Q 380 350 380 343.6 L 379.95 343.6 L 380.01 338.16 L 380.12 332.72 L 380.02 327.28 L 379.99 321.84 L 380 316.4 Q 380 310 386.4 310 L 386.4 310 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 386 310 L 385.83 310 L 386.06 318 L 386.04 326 L 386.15 334 L 385.92 342 L 386 350 M 494 310 L 494.04 310 L 494.13 318 L 493.91 326 L 493.89 334 L 493.94 342 L 494 350"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="439.5"
                                y="339">
                                <tspan>Smelten</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-10">
                    <g>
                        <path
                            d="M 310 260 L 310 260.26 L 320 259.68 L 330 260.24 L 340 259.85 L 350 259.58 L 360 259.85 L 370 259.68 L 380 259.67 L 390 260 L 390.03 260 L 390.02 264 L 390.07 268 L 389.97 272 L 389.93 276 L 390 280 L 390 279.85 L 380 279.59 L 370 280 L 360 280.18 L 350 280.29 L 340 280.3 L 330 280.47 L 320 279.61 L 310 280 L 310.1 280 L 309.86 276 L 310.09 272 L 310.1 268 L 310.09 264 L 310 260 L 310 260 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="388"
                                y="276.5">
                                <tspan>Boter</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="rSO8yLdnr7u90DC1dtAx-11">
                    <g>
                        <path
                            d="M 400 270 L 400 270.03 L 402 269.93 L 404 270.13 L 406 270.09 L 408 269.94 L 410 270 Q 420 270 427.07 277.07 L 427.16 277.16 L 428.36 278.36 L 429.6 279.6 L 430.93 280.93 L 432.31 282.31 L 433.54 283.54 Q 440 290 440 295.94 L 439.85 295.94 L 439.88 297.13 L 440.02 298.32 L 440.16 299.51 L 439.95 300.69 L 440 301.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 440 308.88 L 440.08 308.91 L 439.61 307.51 L 439 306.06 L 438.54 304.66 L 438.15 303.29 L 437.67 301.88 L 437.67 301.96 L 438.6 302 L 439.53 301.74 L 440.47 301.82 L 441.4 301.89 L 442.33 301.88 L 442.39 301.9 L 441.86 303.28 L 441.29 304.65 L 440.97 306.09 L 440.43 307.47 L 440 308.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="2d1YlRomMPgA0X08PIsZ-1">
                    <g>
                        <path
                            d="M 299.72 350 L 299.23 350 L 299.42 360.21 L 300.19 370.42 L 300.29 380.63 L 300.32 390.84 L 299.44 401.04 L 300.27 411.26 L 300.1 421.46 L 300.18 431.67 L 299.98 441.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300 448.88 L 299.95 448.86 L 299.54 447.49 L 298.95 446.05 L 298.47 444.65 L 298 443.25 L 297.64 441.89 L 297.64 441.75 L 298.58 441.91 L 299.51 442.04 L 300.44 441.9 L 301.38 442.01 L 302.31 441.88 L 302.19 441.83 L 301.69 443.22 L 301.46 444.7 L 301.07 446.13 L 300.4 447.46 L 300 448.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="2d1YlRomMPgA0X08PIsZ-3">
                    <g>
                        <path
                            d="M 299.58 590 L 299.43 590 L 299.49 596.37 L 299.59 602.75 L 299.71 609.13 L 299.77 615.51 L 299.91 621.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 299.99 628.88 L 300.11 628.92 L 299.54 627.5 L 299.02 626.09 L 298.47 624.67 L 297.97 623.27 L 297.58 621.91 L 297.58 621.9 L 298.52 621.98 L 299.45 622.04 L 300.38 621.87 L 301.31 621.8 L 302.25 621.86 L 302.14 621.82 L 301.88 623.29 L 301.39 624.68 L 300.93 626.09 L 300.47 627.49 L 299.99 628.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                    <g data-cell-id="2d1YlRomMPgA0X08PIsZ-4">
                        <g>
                            <g>
                                <switch>
                                    <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                        width="100%" height="100%"
                                        requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                        <div 
                                            style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 600px; margin-left: 302px;">
                                            <div
                                                style="box-sizing: border-box; font-size: 0; text-align: left; color: currentColor; ">
                                                <div
                                                    style="display: inline-block; font-size: 15px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all;  white-space: nowrap; ">
                                                    <div >0.5 tot 1 uur</div>
                                                </div>
                                            </div>
                                        </div>
                                    </foreignObject><text x="302" y="605" fill="light-dark(currentColor, #ffffff)"
                                        font-family="&quot;xkcd Script&quot;" font-size="15px">0.5 tot 1 uur</text>
                                </switch>
                            </g>
                        </g>
                    </g>
                </g>
                <g data-cell-id="2d1YlRomMPgA0X08PIsZ-5">
                    <g>
                        <path
                            d="M 170 360 L 170 359.93 L 180 360.37 L 190 360.11 L 200 359.58 L 210 360.25 L 220 359.95 L 230 359.62 L 240 359.63 L 250 360 L 249.96 360 L 249.91 364 L 250.1 368 L 250.16 372 L 250.04 376 L 250 380 L 250 380.42 L 240 379.55 L 230 379.64 L 220 379.88 L 210 380.38 L 200 379.77 L 190 379.79 L 180 380.1 L 170 380 L 170.01 380 L 170.12 376 L 170.04 372 L 170.15 368 L 170.04 364 L 170 360 L 170 360 Z Z"
                            fill="none" stroke="none" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="end" font-size="15px"><text x="248"
                                y="376.5">
                                <tspan>Bloem</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="2d1YlRomMPgA0X08PIsZ-6">
                    <g>
                        <path
                            d="M 260 370 L 260 370.07 L 262 369.89 L 264 370.08 L 266 370.06 L 268 370.16 L 270 370 Q 280 370 287.07 377.07 L 287.05 377.05 L 288.47 378.47 L 290.04 380.04 L 291.29 381.29 L 292.72 382.72 L 294.26 384.26"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 299.21 389.21 L 299.18 389.16 L 297.94 388.64 L 296.55 387.84 L 295.2 387.13 L 293.89 386.48 L 292.61 385.91 L 292.53 385.83 L 293.31 385.29 L 293.91 384.57 L 294.61 383.95 L 295.31 383.33 L 295.91 382.61 L 295.88 382.59 L 296.43 383.86 L 297.2 385.23 L 298.03 386.64 L 298.41 387.82 L 299.21 389.21 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="xEyL6_jvp4oN6XHZ6UYt-1">
                    <g>
                        <path
                            d="M 440 350 L 440.14 350 L 440.11 354 L 440.02 358 L 439.88 362 L 440.14 366 L 440 370 Q 440 380 432.93 387.07 L 432.91 387.05 L 431.54 388.27 L 430.41 389.72 L 428.95 390.85 L 427.73 392.22 L 426.46 393.54 Q 420 400 410 400 L 410 399.53 L 400 399.89 L 390 400.25 L 380 399.67 L 370 400.2 L 360 400.31 L 350 399.72 L 340 399.95 L 330 400 Q 320 400 312.93 407.07 L 312.97 407.11 L 311.57 408.59 L 310.15 410.05 L 308.72 411.49 L 307.28 412.92 L 305.74 414.26"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300.79 419.21 L 300.69 419.16 L 301.5 417.91 L 302.16 416.59 L 302.74 415.24 L 303.4 413.92 L 304.09 412.61 L 303.99 412.51 L 304.84 413.36 L 305.37 413.89 L 306 414.52 L 306.81 415.33 L 307.39 415.91 L 307.39 415.91 L 306.07 416.57 L 304.72 417.16 L 303.37 417.78 L 302.12 418.57 L 300.79 419.21 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="pGxBxb4wll_CB-7rZx41-1">
                    <g>
                        <path
                            d="M 520 270 L 520.21 270 L 519.71 280.03 L 520.3 290.05 L 520.39 300.07 L 520.17 310.1 L 519.65 320.13 L 520.48 330.15 L 520.43 340.18 L 519.63 350.2 L 519.92 360.22 L 519.83 370.25 L 519.54 380.28 L 520.23 390.3 L 520.31 400.32 L 519.58 410.35 L 519.73 420.38 L 519.71 430.4 L 519.67 440.43 L 519.66 450.45 L 519.97 460.47 L 520 470.5 Q 520 480.5 512.93 487.57 L 512.92 487.57 L 511.64 488.86 L 510.44 490.25 L 509.15 491.55 L 507.77 492.75 L 506.46 494.04 Q 500 500.5 490 500.5 L 490 500.19 L 480 500.32 L 470 500.6 L 460 500.51 L 450 500.94 L 440 500.57 L 430 500.9 L 420 500.22 L 410 500.98 L 400 500.8 L 390 500.59 L 380 500.25 L 370 500.94 L 360 500.51 L 350 500.48 L 340 500.61 L 330 500.5 Q 320 500.5 312.93 507.57 L 312.97 507.62 L 311.48 509 L 310.15 510.54 L 308.63 511.9 L 307.22 513.37 L 305.74 514.76"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300.79 519.71 L 300.83 519.73 L 301.44 518.38 L 302.19 517.11 L 302.69 515.71 L 303.55 514.49 L 304.09 513.11 L 304.03 513.05 L 304.73 513.75 L 305.51 514.53 L 306.06 515.08 L 306.68 515.7 L 307.39 516.41 L 307.36 516.35 L 306.14 517.21 L 304.71 517.64 L 303.47 518.47 L 302.09 519.01 L 300.79 519.71 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="pGxBxb4wll_CB-7rZx41-2">
                    <g>
                        <path
                            d="M 300 490 L 299.55 490 L 299.6 500.38 L 299.66 510.75 L 300.49 521.13 L 299.57 531.51 L 300 541.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300 548.88 L 299.86 548.83 L 299.69 547.53 L 298.98 546.05 L 298.62 544.69 L 298.18 543.3 L 297.67 541.88 L 297.67 541.82 L 298.6 541.74 L 299.53 542 L 300.47 541.86 L 301.4 542 L 302.33 541.88 L 302.28 541.86 L 301.91 543.3 L 301.41 544.68 L 301.03 546.12 L 300.37 547.45 L 300 548.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
                <g data-cell-id="pGxBxb4wll_CB-7rZx41-3">
                    <g>
                        <path
                            d="M 246.4 550 L 246.4 549.85 L 256.15 549.64 L 265.89 550.31 L 275.64 549.85 L 285.38 550.16 L 295.13 549.98 L 304.87 549.79 L 314.62 549.85 L 324.36 549.52 L 334.11 550.19 L 343.85 550.07 L 353.6 550 Q 360 550 360 556.4 L 360.1 556.4 L 359.97 561.84 L 359.92 567.28 L 360.12 572.72 L 359.98 578.16 L 360 583.6 Q 360 590 353.6 590 L 353.6 590.33 L 343.85 589.63 L 334.11 589.93 L 324.36 590.03 L 314.62 590.44 L 304.87 589.62 L 295.13 589.76 L 285.38 590.35 L 275.64 589.82 L 265.89 589.8 L 256.15 589.71 L 246.4 590 Q 240 590 240 583.6 L 239.88 583.6 L 239.85 578.16 L 240.03 572.72 L 240.07 567.28 L 239.95 561.84 L 240 556.4 Q 240 550 246.4 550 L 246.4 550 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 246 550 L 246.14 550 L 246.09 558 L 245.84 566 L 245.88 574 L 246.08 582 L 246 590 M 354 550 L 354.01 550 L 354.14 558 L 353.99 566 L 353.96 574 L 354.13 582 L 354 590"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g>
                            <switch>
                                <foreignObject style="overflow: visible; text-align: left;" pointer-events="none"
                                    width="100%" height="100%"
                                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
                                    <div 
                                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 570px; margin-left: 300px;">
                                        <div
                                            style="box-sizing: border-box; font-size: 0; text-align: center; color: currentColor; ">
                                            <div
                                                style="display: inline-block; font-size: 20px; font-family: &quot;xkcd Script&quot;; color: light-dark(currentColor, #ffffff); line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                                                <div style="line-height: 80%;">
                                                    <div>
                                                        <div>Voorzichtig</div>
                                                        <div>Mengen</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </foreignObject><text x="300" y="576" fill="light-dark(currentColor, #ffffff)"
                                    font-family="&quot;xkcd Script&quot;" font-size="20px"
                                    text-anchor="middle">Voorzichtig...</text>
                            </switch>
                        </g>
                    </g>
                </g>
                <g data-cell-id="MMg3YGQBArqoL_w-js4I-1">
                    <g>
                        <path
                            d="M 246.4 630 L 246.4 629.95 L 256.15 629.81 L 265.89 629.68 L 275.64 630.31 L 285.38 630.44 L 295.13 630.07 L 304.87 630.5 L 314.62 630.2 L 324.36 630.44 L 334.11 630.25 L 343.85 629.73 L 353.6 630 Q 360 630 360 636.4 L 360.15 636.4 L 360.08 641.84 L 359.99 647.28 L 359.89 652.72 L 360.02 658.16 L 360 663.6 Q 360 670 353.6 670 L 353.6 669.81 L 343.85 670.22 L 334.11 669.51 L 324.36 669.69 L 314.62 669.75 L 304.87 670.34 L 295.13 670.33 L 285.38 670.36 L 275.64 669.74 L 265.89 670.39 L 256.15 669.99 L 246.4 670 Q 240 670 240 663.6 L 239.86 663.6 L 240 658.16 L 239.98 652.72 L 239.93 647.28 L 239.91 641.84 L 240 636.4 Q 240 630 246.4 630 L 246.4 630 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                        <path
                            d="M 246 630 L 246.05 630 L 246.12 638 L 245.87 646 L 246.13 654 L 245.93 662 L 246 670 M 354 630 L 353.89 630 L 353.99 638 L 354.07 646 L 353.85 654 L 354.03 662 L 354 670"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2" pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="299.5"
                                y="659">
                                <tspan>Bakken</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="5O3A60ICyHXUkeaOU3cS-1">
                    <g>
                        <path
                            d="M 246.4 710 L 246.4 709.86 L 256.15 710.07 L 265.89 709.84 L 275.64 710.08 L 285.38 710.34 L 295.13 709.75 L 304.87 710.21 L 314.62 710.46 L 324.36 710.4 L 334.11 709.91 L 343.85 709.71 L 353.6 710 Q 360 710 360 716.4 L 359.95 716.4 L 359.93 721.84 L 360.01 727.28 L 359.94 732.72 L 359.91 738.16 L 360 743.6 Q 360 750 353.6 750 L 353.6 749.78 L 343.85 750.23 L 334.11 749.63 L 324.36 749.99 L 314.62 749.52 L 304.87 750.48 L 295.13 749.81 L 285.38 749.92 L 275.64 749.71 L 265.89 750.1 L 256.15 749.65 L 246.4 750 Q 240 750 240 743.6 L 240.07 743.6 L 239.97 738.16 L 240 732.72 L 240.15 727.28 L 240.07 721.84 L 240 716.4 Q 240 710 246.4 710 L 246.4 710 Z Z"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10"
                            pointer-events="all" />
                    </g>
                    <g>
                        <g fill="currentColor" style="fill: currentColor"
                            font-family="&quot;xkcd Script&quot;" text-anchor="middle" font-size="20px"><text x="300"
                                y="739">
                                <tspan>Smakelijk!</tspan>
                            </text></g>
                    </g>
                </g>
                <g data-cell-id="5O3A60ICyHXUkeaOU3cS-2">
                    <g>
                        <path
                            d="M 300 670 L 300.14 670 L 299.94 676.38 L 299.92 682.75 L 300.08 689.13 L 299.95 695.51 L 300 701.88"
                            fill="none" stroke="currentColor" style="stroke: currentColor"
                            stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="stroke" />
                        <path
                            d="M 300 708.88 L 300.06 708.9 L 299.45 707.45 L 299.2 706.13 L 298.61 704.69 L 298.08 703.26 L 297.67 701.88 L 297.67 701.77 L 298.6 702.03 L 299.53 701.81 L 300.47 701.94 L 301.4 701.97 L 302.33 701.88 L 302.18 701.83 L 301.77 703.25 L 301.38 704.68 L 301.04 706.12 L 300.43 707.47 L 300 708.88 Z Z"
                            fill="currentColor"
                            style="fill: currentColor stroke: currentColor"
                            stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="2"
                            pointer-events="all" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>